@tailwind base;
@tailwind components;
@tailwind utilities;
.cardblack {
  background-color: rgba(29, 31, 33, 0.74);
}

.cardwhite {
  background-color: #f8fbfea2;
}
.card__content {
  padding-top: 0px; /* Adicionando padding para dar espaçamento interno */
  padding-right: 20px; /* Adicionando padding para dar espaçamento interno */
  padding-left: 20px; /* Adicionando padding para dar espaçamento interno */
  padding-bottom: 20px; /* Adicionando padding para dar espaçamento interno */
}
.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.circle {
  padding: 0 4px;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  appearance: none;
  background-color: transparent;
  border-color: unset;
  border-width: 0;
  border-radius: unset;
  padding: unset;
  font-size: unset;
  line-height: unset;
}

/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="search"]:focus,
[type="checkbox"]:focus,
[type="radio"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: "#00000060";
  border-color: "#00000060";
}
