/* Estilos globais para containers com fundo escuro */
.cardblack {
  background-color: #1e1e1e; /* Cor padrão do fundo escuro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Container principal da página do editor de texturemap */
.edit-texturemap-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #121212; /* Fundo principal mais escuro */
}

.edit-texturemap-content {
  padding: 20px;
  width: 100%;
  background-color: transparent; /* Transparente para dar ênfase aos cartões */
}

h2, h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  color: #ffffff;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

.add-texture-btn {
  margin-top: 15px;
}

.save-button {
  margin-top: 20px;
}

.close-button {
  background-color: #ff4c4c;
}

.close-button:hover {
  background-color: #e63939;
}
