.loading-image {
  animation: pulse 1.5s infinite alternate;
}

.loaded-image {
  animation: none;
}

.loading-card {
  animation: pulse 1.5s infinite alternate;
}

.loaded-card {
  animation: none;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
